<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <main>

            <%- include('../partials/navigation') %>

                <article>
                    <h2>Je hebt een match! met <%= match.name %></h2>
                    <fieldset>
                        <form action="/browsen/<%= match.ID %>">
                            <input type="submit" value="Oke">
                        </form>
                    </fieldset>
                    <fieldset>
                        <form action="/berichten/<%= match.ID %>">
                            <input type="submit" value="Chatten">
                        </form>
                    </fieldset>
                </article>

        </main>

        <%- include('../partials/foot.ejs') %>
